<protected>
  <admin>
    <navbar-pills></navbar-pills>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center">All destinations
                <br>
              </h1>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <ul class="media-list">
              <li class="media" *ngFor="let destination of destinations">
                <a class="pull-left" href="javascript:;"><img class="media-object" src="{{destination.image_src}}" height="64" width="64"></a>
                <div class="btn-group btn-group-vertical pull-right">
                  <a class="btn btn-default" (click)="goToDetail(destination.id)">Details</a>
                  <a class="btn btn-danger" (click)="deleteDestination(destination.id)">Delete</a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">{{destination.name}}</h4>
                  <p>
                    Score: {{destination.score}}
                    <br> {{destination.desc_short}}
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-12 text-center">
          <a class="btn btn-success" (click)="goToAdddestination()">Add another destination</a>
        </div>
      </div>
    </div>
  </admin>
</protected>
