<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="#"><span>Brand</span></a></div>
    <div class="collapse navbar-collapse" id="navbar-ex-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a>Dashboard</a></li>
        <li><a>Profile</a></li>
        <li><a (click)="logout()">Sign Out</a></li>
      </ul>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
<footer class="section section-primary">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h2>Follow our progress!</h2>
        <p>We are glad to keep you updated on what we have been doing .</p>
      </div>
      <div class="col-sm-6">
        <p class="text-info text-right">
          <br>
          <br>
        </p>
        <div class="row">
          <div class="col-md-12 hidden-lg hidden-md hidden-sm text-left">
            <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
            <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
            <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 hidden-xs text-right">
            <a href="https://www.instagram.com/gtsd2017/"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
            <a href="https://twitter.com/GTSolarHome"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
            <a href="https://www.facebook.com/gtsd2017/"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
