<protected>
  <div *ngIf="destination">
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center">Details<br></h1>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <img src="{{destination.image_src}}" class="center-block img-responsive">
            <h1>{{destination.name}}</h1>
            <h3>Rating: {{destination.score}}/100</h3>
            <h4>Location: {{destination.continent}}</h4>
            <p>{{destination.desc_long}}</p>
            <div class="row">
              <div class="col-md-4">
                <a class="btn btn-warning" (click)="toggleForm()">Edit</a>
              </div>
              <div class="col-md-4">
                <a class="btn btn-default" (click)="goBack()">Back</a>
              </div>
              <div class="col-md-4">
                <a class="btn btn-danger" (click)="deleteDestination()">Delete</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="alert alert-success" *ngIf="success">
            <button contenteditable="false" type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="toggleSuccess()"></button>
            Destination updated
          </div>
          <div class="alert alert-danger alert-dismissable" *ngIf="error">
            <button contenteditable="false" type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="toggleError()">×</button>
            Destination could not be edited
          </div>
          <form class="form-horizontal" role="form" (ngSubmit)="editDestination()" #destinationForm="ngForm" *ngIf="showEdit">
            <div class="form-group">
              <div class="col-sm-2">
                <label for="inputEmail3" class="control-label">Name</label>
              </div>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputEmail3" placeholder="Name" required [(ngModel)]="destination.name" name="name">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-2">
                <label class="control-label">Location</label>
              </div>
              <div class="col-sm-10">
                <select class="form-control" [(ngModel)]="destination.continent" name="power_type">
                  <option *ngFor="let continent of continents">{{continent}}</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-2">
                <label class="control-label">Score</label>
              </div>
              <div class="col-sm-10">
                <input type="number" class="form-control" placeholder="84" min="1" max="100" required [(ngModel)]="destination.score" name="power">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-2">
                <label for="inputEmail3" class="control-label">Short Description</label>
              </div>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputshortdesc" placeholder="Short Description" required [(ngModel)]="destination.desc_short" name="desc_short">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-2">
                <label class="control-label">Long Description</label>
              </div>
              <div class="col-sm-10">
                <textarea class="form-control" required [(ngModel)]="destination.desc_long" name="desc_long"></textarea>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-2">
                <label class="control-label">Source</label>
              </div>
              <div class="col-sm-10">
                <input type="text" class="form-control" [(ngModel)]="destination.image_src" name="image_src">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">Save
                  <br>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</protected>
