<protected>
  <navbar-pills></navbar-pills>
  <div class="jumbotron ">
    <div class="cover-image "></div>
    <div class="container ">
      <div class="row ">
        <div class="col-md-12 text-center ">
          <h1>Destinations</h1>
          <p>List places you've ever been to.
            <br>
          </p>
          <br>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container ">
      <div class="row ">
        <div *ngFor="let destination of destinations " class="col-md-3">
          <a href="javascript:;" (click)="goToDetail(destination.id)">
            <img src="{{destination.image_src}} " class="img-responsive ">
          </a>
          <h2>{{destination.name}}</h2>
          <h3>Rating: {{destination.score}}</h3>
          <p>{{destination.desc_long}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="section text-center ">
    <div class="container ">
      <div class="row ">
        <div class="col-md-4 col-md-offset-4"><a target="_blank " href="http://www.useriq.com " class="btn btn-default">Learn more about UserIQ</a></div>
      </div>
    </div>
  </div>
</protected>
