<protected></protected>
<div class="cover">
  <div class="cover-image"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Power</h1>
        <p>Welcome to the Super Hero app
          <br>
        </p>
        <br>
        <br><a class="btn btn-lg btn-default" href="#/">View</a> </div>
    </div>
  </div>
</div>
<div class="section" id="dashboard-heroes">
  <div class="container">
    <div class="row">
      <div *ngFor="let hero of heroes" class="col-md-3"> <img src="{{hero.image_src}}" class="img-responsive">
        <h2>{{hero.name}}</h2>
        <p>{{hero.description}}</p>
      </div>
    </div>
  </div>
</div>
<div class="section text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-4"><a class="btn btn-success">View all heroes</a></div>
      <div class="col-md-4"><a class="btn btn-default" (click)="goToAddHero()">Add another hero</a></div>
      <div class="col-md-4"><a class="btn btn-primary">View the solar decathlon @ GT</a></div>
    </div>
  </div>
</div>
