<div class="cover">
  <div class="cover-image" style="background-image : url('/app/img/landing-page/header.png')"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="container">
          <img src="/app/img/landing-page/logotransparent.png" class="center-block img-responsive img-rounded" height="120px" width="120px">
        </div>
        <h1 class="text">Resurgens</h1>
        <h2 class="text">One house, one system, zero waste</h2>
        <br>
        <br>
        <a class="btn btn-lg btn-primary">Learn More</a>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="app/img/landing-page/rendering.jpg" class="img-responsive">
      </div>
      <div class="col-md-6">
        <h1 class="text-primary">What we are and what we do</h1>
        <h3>Solar Home of Georgia Tech&nbsp;
          <br>
          <br>
        </h3>
        <p>Resurgens is Georgia Tech's official entry for Department of Energy's 2017 Solar Decathlon competition. Our home will achieve net-zero energy and net-zero water status, while also addressing local community concerns and providing educational resources
          to develop a ‪‎green‬ conscious.&nbsp;
          <br>
          <br>We chose the name "Resurgens" as it is also Atlanta's city motto, referring to our&nbsp;city's determination to survive against all odds and rise again. Similarly, our home is designed to thrive in adversity and aims to resurrect numerous communities
          with ‪sustainable‬ design.</p>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="btn-group btn-group-justified btn-group-lg">
          <a href="#" class="btn btn-primary">Learn more</a>
          <a href="#" class="btn btn-primary">Contribute</a>
          <a href="#" class="btn btn-primary">Sponsor</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="text-primary">Solar Decathlon</h1>
        <h3>About
          <br>
          <br>
        </h3>
        <p>The U.S. Department of Energy Solar Decathlon is an award-winning program that challenges collegiate teams to design, build, and operate solar-powered houses that are cost-effective, energy-efficient, and attractive. The winner of the competition
          is the team that best blends affordability, consumer appeal, and design excellence with optimal energy production and maximum efficiency.&nbsp;
          <br>
          <br>The first Solar Decathlon was held in 2002; the&nbsp;competition has since occurred biennially in 2005, 2007, 2009, 2011, 2013, and 2015. The next Solar Decathlon is planned for 2017 in Denver, Colorado.</p>
      </div>
      <div class="col-md-6">
        <img src="app/img/landing-page/sd_logo_vert_c.jpg" class="img-responsive">
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center text-primary">Teams</h1>
        <p class="text-center">We are a group of skilled individuals.</p>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <i class="fa fa-5x fa-fw fa-th-large text-primary"></i>
        <h2>Electrical</h2>
        <p>The Electrical Team meets the home’s sustainability and energy efficiency goals by maximizing energy output and minimizing energy consumption. The team incorporates the electrical systems with the Computing Team’s IoT system, while also optimizing
          the technology used in the house’s solar PV system to maximize energy output in Atlanta’s temperate climate.&nbsp;
          <br>
        </p>
      </div>
      <div class="col-md-4">
        <i class="fa fa-5x fa-fw fa-cog text-primary"></i>
        <h2>Mechanical</h2>
        <p>The Mechanical Systems Team brings the comfort factor. Together, they design and incorporate systems that allow the home to dynamically adjust to the user's habits and preferences. Their work focuses on three main components: an efficient HVAC
          with variable motor fans and reliable humidity control; heat recovery systems; and research on phase-change materials and how to effectively implement them into the home.</p>
      </div>
      <div class="col-md-4">
        <i class="fa fa-5x fa-fw fa-refresh text-primary"></i>
        <h2>Computing</h2>
        <p>The Computing Team creates the educational component with their IoT system. This system tracks user habits and energy consumption levels, while also providing feedback to educate the user and influence them to adopt more sustainable, conservative
          routines. With the team’s work, we not only build a sustainable house, but also a sustainable citizen.</p>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <i class="fa fa-5x fa-fw fa-home text-primary"></i>
        <h2>Architecture
          <br>
        </h2>
        <p>The Architecture Team develops the design and layout of the house and integrates the passive and active systems into a comfortable and livable setting. From conception and ideation to direct partnerships with other teams, they ensuring the feasibility
          and effectiveness of the design at every stage. Through their vision and effort, the design comes to life.</p>
      </div>
      <div class="col-md-4">
        <i class="fa fa-5x fa-fw fa-heart text-primary"></i>
        <h2>Design</h2>
        <p>The Design Team gives the home its stylish flair with their designs of the interior spaces. They develop a language for the home that evokes comfort, functionality, and sustainability. Working in close collaboration with the other teams, the team
          ensures that their interior design exists in harmony with the home’s systems and vision.</p>
      </div>
      <div class="col-md-4">
        <i class="fa fa-5x fa-fw fa-usd text-primary"></i>
        <h2>Business</h2>
        <p>The Business Team ensures the financial success of the project. This division has four core committees: the TOPL Team, the BCF Team and the Marketing Team and the Human Resources Team (recruitment and member management). Together, they manage
          the project by generating optimal solutions, and building a path for smooth progression and minimal waste.</p>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center text-primary">Sponsors</h1>
        <p class="text-center">People who make this possible.</p>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <a><img src="app/img/sponsors/Accenture-logo-1024x768.png" class="img-responsive center-block"></a>
      </div>
      <div class="col-md-3">
        <a><img src="app/img/sponsors/georgia-power.png" class="img-responsive"></a>
      </div>
      <div class="col-md-3 ">
        <a><img src="app/img/sponsors/Suniva-Logo.jpg" class="img-responsive"></a>
      </div>
      <div class="col-md-3">
        <a><img src="app/img/sponsors/General_Electric_logo.png" class="img-responsive" height="175px" width="175px"></a>
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-md-3">
        <a><img src="app/img/sponsors/Coca-Cola-Logo-PNG.png" class="img-responsive"></a>
      </div>
      <div class="col-md-3">
        <a><img src="app/img/sponsors/homer.png" class="img-responsive"></a>
      </div>
      <div class="col-md-3">
        <a><img src="app/img/sponsors/HannahSolarLogo_HIRES.jpg" class="img-responsive"></a>
      </div>
      <div class="col-md-3">
        <a><img src="app/img/sponsors/LG-logo-1024x768.png" class="img-responsive"></a>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <a href="#"><img src="app/img/sponsors/denningproject png.png" class="center-block img-responsive"></a>
      </div>
    </div>
  </div>
</div>
